    

<!-- Image should be center aligned and middle of page -->

<!-- Change image depending on which version senario we are on-->


<div style="text-align: center;">

    <h1>Floor Plan</h1>

    <div style="padding-bottom:10px;">
        
        <!-- TODO: Logic for which image is going to be used should be written in ts file-->
        
        <img src="assets/images/floor-plans.png" alt="generic-floor-plan-img">
        

    </div>
    <button type="submit" class="btn btn-default" style="padding-top: 10px;">Confirm Choice</button>
</div>