<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Accordion</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="../../styles/css/global.css">
      <link rel="stylesheet" href="../../fonts/heebo.css">
   </head>
   <body class="scrollbar">
      <div class="bmo-container">
         <div class="panel-content">
            <div class="row">
               <div class="grid col-100">
                  <h1 class="display-2 light">Accordions</h1>
                  <h2 class="title-1 bold pt-2u pb-1u">Default</h2>
                  <div class="bmo-accordion">
                     <button class="accordion-trigger" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down" title="Chevron down" role="presetation"></span>Retail<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                              it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down" title="Chevron down" role="presetation"></span>OLB<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-100">
                              <button class="primary pull-right">ok</button>
                              <button class="tertiary pull-right"><span>cancel</span></button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down" title="Chevron down" role="presetation"></span>Business Banking<span class="short-border"></span></span>
                     </button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different
                              way make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down" title="Chevron down" role="presetation"></span>Public Sites<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                              it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                  </div>
               </div>
               <div class="grid col-100">
                  <h2 class="title-1 bold pt-2u pb-1u">Default w Icon Right</h2>
                  <div icon-right="" class="bmo-accordion">
                     <button class="accordion-trigger" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down pull-right" title="Chevron down" role="presetation"></span>Retail<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon medium chevron-down pull-right" title="Chevron down" role="presetation"></span>OLB<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-100">
                              <button class="primary pull-right">ok</button>
                              <button class="tertiary pull-right"><span>cancel</span></button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                  </div>
               </div>
               <div class="grid col-50 sm-col-100">
                  <h2 class="title-1 bold pt-2u pb-1u">Compact</h2>
                  <div compact="" class="bmo-accordion">
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down" title="Baby chevy down" role="presetation"></span>Retail<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down" title="Baby chevy down" role="presetation"></span>OLB<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different
                              way make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-100">
                              <button class="primary pull-right">ok</button>
                              <button class="tertiary pull-right"><span>cancel</span></button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down" title="Baby chevy down" role="presetation"></span>Business Banking<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different
                              way make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down" title="Baby chevy down" role="presetation"></span>Public Sites<span class="short-border"></span></button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                  </div>
               </div>
               <div class="grid col-50 sm-col-100">
                  <h2 class="title-1 bold pt-2u pb-1u">Compact with Icon right</h2>
                  <div compact="" icon-right="" class="bmo-accordion">
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down pull-right" title="Baby chevy down" role="presetation"></span>Retail</button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down pull-right" title="Baby chevy down" role="presetation"></span>OLB</button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different
                              way make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div width="100" class="center-self pt-2u grid col-100">
                              <button class="primary pull-right">ok</button>
                              <button class="tertiary pull-right"><span>cancel</span></button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down pull-right" title="Baby chevy down" role="presetation"></span>Business Banking</button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different
                              way make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                        </div>
                        <span class="short-border"></span>
                     </div>
                     <button class="accordion-trigger trigger-compact" tabindex="0" role="tab" aria-expanded="false">
                     <span aria-hidden="true" class="icon small baby-chevy-down pull-right" title="Baby chevy down" role="presetation"></span>Public Sites</button>
                     <div role="tabpanel" class="accordion-panel">
                        <div class="panel-content">
                           <p class="body-2 pt-2u">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way
                              make it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                           </p>
                           <div class="center-self pt-2u grid col-25 sm-col-100">
                              <button class="primary">ok</button>
                           </div>
                        </div>
                        <span class="short-border"></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="bmo-overlay-dark"></div>
      <script type="module" src="../../js/core.js"></script>
   </body>
</html>