<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Account cards</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="grid col-100">
                <div class="panel-content">
                    <div class="row pb-1u grid col-100">
                        <h1 class="display-2 light">Account cards plain HTML</h1>
                    </div>
                    <div class="grid col-50 md-col-100">
                        <div class="bmo-card no-pad hover">
                            <a href="#" class="top-of-card-link">
                                <div class="row">
                                    <span class="card-account-nickname">Default Card Chequing Account</span>
                                    <span class="card-account-total"><span class="hidden-label">Account Balance </span><span class="card-account-currency">CAD</span>$3,069.00</span>
                                </div>
                                <div class="row">
                                    <span class="card-account-name">Chequing 0123 <span class="keyline chequing"></span></span>
                                </div>
                            </a>
                        </div>
                        <div class="bmo-card no-pad hover">
                            <a href="#" class="top-of-card-link">
                                <div class="row">
                                    <span class="card-account-nickname">Wealth Card with buying power</span>
                                    <span class="card-account-total"><span class="hidden-label">Account Balance </span><span class="card-account-currency">USD</span>$9,999,999.00</span>
                                </div>
                                <div class="row">
                                    <span class="card-account-name">Margin 0123 <span class="keyline investments"></span></span>
                                    <span class="account-gain-loss gain"><span class="hidden-label"> a change of </span><span class="icon medium arrow-up positive"></span>$1.40 (+0.31%)</span>
                                </div>
                                <div class="row">
                                    <span class="below-keyline-left">Buying power:</span>
                                    <span class="below-keyline-right">$9,999,999.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="bmo-card no-pad hover">
                            <a href="#" class="top-of-card-link">
                                <div class="row">
                                    <span class="card-account-nickname">Credit Card with Table</span>
                                    <span class="card-account-total"><span class="hidden-label">Account Balance </span><span class="card-account-currency">CAD</span>$13,559.00</span>
                                </div>
                                <div class="row">
                                    <span class="card-account-name">MasterCard 6969 <span class="keyline credit-card"></span></span>
                                    <span class="card-account-avail-credit"><span class="availble-label">Available: </span>$10,728.00</span>
                                </div>
                                <div class="row">
                                    <span class="below-keyline-left">Rewards balance:</span>
                                    <span class="below-keyline-right">1,000pts</span>
                                </div>
                                <div class="row">
                                    <span class="below-keyline-left">Minimum payment:</span>
                                    <span class="below-keyline-right"><span class="below-keyline-right-date">02/01/2019</span> $0,000.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="bmo-card no-pad hover">
                            <a href="#" class="top-of-card-link">
                                <div class="row">
                                    <span class="card-account-nickname">Credit Card Quick Actions &amp; Table</span>
                                    <span class="card-account-total"><span class="hidden-label">Account Balance </span><span class="card-account-currency">CAD</span>$3,069.00</span>
                                </div>
                                <div class="row">
                                    <span class="card-account-name">MasterCard 0123 <span class="keyline credit-card"></span></span>
                                    <span class="card-account-avail-credit"><span class="availble-label">Available: </span>$7,451.00</span>
                                </div>
                                <div class="row">
                                    <span class="below-keyline-left">Rewards balance:</span>
                                    <span class="below-keyline-right">1,000pts</span>
                                </div>
                                <div class="row">
                                    <span class="below-keyline-left">Minimum payment:</span>
                                    <span class="below-keyline-right"><span class="below-keyline-right-date">02/01/2019</span> $0,000.00</span>
                                </div>
                            </a>
                            <span class="account-card-divide" role="presentation"></span>
                            <ul class="account-card-action-list">
                                <li>
                                    <a href="#" class="link"><span class="icon medium suitcase blue"></span>Holdings</a>
                                </li>
                                <li>
                                    <a href="#" class="link"><span class="icon medium contact blue"></span>Quote</a>
                                </li>
                                <li>
                                    <a href="#" class="link"><span class="icon medium bill blue"></span>Transactions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="bmo-card no-pad hover">
                            <a href="#" class="top-of-card-link">
                                <div class="row">
                                    <span class="card-account-nickname">Wealth Card with quick actions</span>
                                    <span class="card-account-total"><span class="hidden-label">Account Balance </span><span class="card-account-currency">USD</span>$9,999,999.00</span>
                                </div>
                                <div class="row">
                                    <span class="card-account-name">Investorline 0123 <span class="keyline investments"></span></span>
                                    <span class="account-gain-loss gain"><span class="hidden-label"> a change of </span><span class="icon medium arrow-up positive"></span>$1.40 (+0.31%)</span>
                                </div>
                            </a>
                            <ul class="account-card-action-list">
                                <li>
                                    <a href="#" class="link"><span class="icon medium suitcase blue"></span>Holdings</a>
                                </li>
                                <li>
                                    <a href="#" class="link"><span class="icon medium contact blue"></span>Quote</a>
                                </li>
                                <li>
                                    <a href="#" class="link"><span class="icon medium bill blue"></span>Transactions</a>
                                </li>
                            </ul>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../../../js/core.js"></script>

</body>

</html>