<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Buttons</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="grid col-100">
                <div class="panel-content">
                    <div class="row pb-1u grid col-100">
                        <h1 class="display-2 light">Buttons plain HTML</h1>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Primary Button coded as <code>&lt;button&gt;</code> </h2>
                        </div>
                        <button class="primary">Button</button>
                        <button class="primary"><span class="icon checkmark medium white"></span>Button</button>
                        <button class="primary" disabled="">Disabled</button>
                        <button class="primary" disabled=""><span class="icon lock medium white"></span>Disabled</button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Secondary Button coded as <code>&lt;button&gt;</code> </h2>
                        </div>
                        <button class="secondary">button</button>
                        <button class="secondary" disabled="">Disabled</button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Tertiary Button coded as <code>&lt;button&gt;</code></h2>
                        </div>
                        <button class="tertiary"><span>button</span></button>
                        <button class="tertiary"><span class="icon checkmark medium null"></span><span>button</span></button>
                        <button class="tertiary" disabled=""><span>disabled</span></button>
                        <button class="tertiary" disabled=""><span class="icon lock medium null"></span><span>disabled</span></button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Small Buttons coded as <code>&lt;button&gt;</code></h2>
                        </div>
                        <button class="primary small">Button</button>
                        <button class="secondary small">Button</button>
                        <button class="tertiary small"><span>Button</span></button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Micro Buttons coded as <code>&lt;button&gt;</code></h2>
                        </div>
                        <button class="primary micro">Primary Micro</button>
                        <button class="secondary micro">Secondary Micro</button>
                        <button class="primary micro" disabled="">Primary Micro</button>
                        <button class="secondary micro" disabled="">Secondary Micro</button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Icon Buttons coded as <code>&lt;button&gt;</code></h2>
                        </div>
                        <button class="icon-button medium">click for help<span class="icon enclosed-help medium"></span></button>
                        <button class="icon-button medium">click for more info<span class="icon information medium"></span></button>
                        <button class="icon-button medium">click to open settings<span class="icon settings medium"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../../../js/core.js"></script>

</body>

</html>