<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Buttons</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="grid col-100">
                <div class="panel-content">
                    <div class="row pb-1u grid col-100">
                        <h1 class="display-2 light">Buttons plain HTML</h1>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Secondary Button coded as <code>&lt;button&gt;</code> </h2>
                        </div>
                        <button class="secondary">button</button>
                        <button class="secondary" disabled="">Disabled</button>
                    </div>
                    <div class="grid col-100">
                        <div class="row pt-1u pb-1u row">
                            <h2 class="sub-heading bold">Secondary Button coded as <code>&lt;a&gt;</code> </h2>
                        </div>
                        <a href="#" role="button" class="button secondary">button</a>
                        <a role="button" class="button secondary disabled">Disabled</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../../../js/core.js"></script>

</body>

</html>