<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Grid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="pb-3u grid col-100">
                <h1 class="display-2 light">BMO Grid</h1>
            </div>
        </div>
        <div class="row">
            <div class="grid col-100">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-33 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-33 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-33 sm-col-100">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-25 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-25 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-25 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-25 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-20 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-20 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-20 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-20 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-20 md-col-50 sm-col-100">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-16 md-col-50 sm-col-50">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-12 sm-col-25">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="row">
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
            <div class="grid col-8 sm-col-25">
                <span class="demo-span"></span>
            </div>
        </div>
        <div class="flow-column bmo-container-flex">
            <div class="flex-row">
                <div class="pb-3u flex col-100">

                    <h1 class="display-2 light">Flex Grid</h1>

                </div>
            </div>
            <div class="flex-row">
                <div class="flex col-100">
                    <span class="demo-span"></span>
                </div>
            </div>
            <div class="flow-wrap flex-row">
                <div class="flex col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
            </div>
            <div class="flow-wrap flex-row">
                <div class="flex col-33 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-33 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-33 sm-col-100">
                    <span class="demo-span"></span>
                </div>
            </div>
            <div class="flow-wrap flex-row">
                <div class="flex col-25 md-col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-25 md-col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-25 md-col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
                <div class="flex col-25 md-col-50 sm-col-100">
                    <span class="demo-span"></span>
                </div>
            </div>
        </div>


    </div>
    <script type="module" src="../../../js/core.js"></script>

</body>

</html>