<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Icons</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="panel-content">
            <div class="flow-column">
                <div class="row">
                    <div class="pb-1u grid col-100">
                        <h1 class="display-2 light">Icons</h1>
                        <h2 class="sub-heading bold">Default Package</h2>
                        <h3 class="body-1 light">Small Utitlity Icons</h3>
                    </div>
                </div>
                <div class="flow-row flow-wrap flex-row">
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small checkmark" title="Checkmark" role="presetation"></span>
                        <span class="align-center body-2 block">Checkmark</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small baby-chevy-down" title="Baby chevy down" role="presetation"></span>
                        <span class="align-center body-2 block">Baby Chevron Down</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small baby-chevy-up" title="Baby chevy up" role="presetation"></span>
                        <span class="align-center body-2 block">Baby Chevron Up</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small baby-chevy-left" title="Baby chevy left" role="presetation"></span>
                        <span class="align-center body-2 block">Baby Chevron Left</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small baby-chevy-right" title="Baby chevy right" role="presetation"></span>
                        <span class="align-center body-2 block">Baby Chevron Right</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small chevron-down" title="Chevron down" role="presetation"></span>
                        <span class="align-center body-2 block">Chevron Down</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small chevron-up" title="Chevron up" role="presetation"></span>
                        <span class="align-center body-2 block">Chevron Up</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small chevron-left" title="Chevron left" role="presetation"></span>
                        <span class="align-center body-2 block">Chevron Left</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small chevron-right" title="Chevron right" role="presetation"></span>
                        <span class="align-center body-2 block">Chevron Right</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small filter" title="Filter" role="presetation"></span>
                        <span class="align-center body-2 block">Filter</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small fingerprint" title="Fingerprint" role="presetation"></span>
                        <span class="align-center body-2 block">Pingerprint</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small star" title="Star" role="presetation"></span>
                        <span class="align-center body-2 block">Star</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small recurring" title="Recurring" role="presetation"></span>
                        <span class="align-center body-2 block">Recurring</span>
                    </div>
                    <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                        <span class="center-self block mb-1u icon small inline-error" title="Inline error" role="presetation"></span>
                        <span class="align-center body-2 block">Inline Error</span>
                    </div>
                </div>
                <div class="flow-row flow-wrap flex-row">
                    <div class="pb-1u grid col-100">
                        <h3 class="body-1 light">Medium Action Icons</h3>
                    </div>
                    <div class="flow-row flow-wrap flex-row">
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium airplane" title="Airplane" role="presetation"></span>
                            <span class="align-center body-2 block">Airplane</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium alert" title="Alert" role="presetation"></span>
                            <span class="align-center body-2 block">Alert</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-left" title="Arrow left" role="presetation"></span>
                            <span class="align-center body-2 block">Arrow Left</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-right" title="Arrow right" role="presetation"></span>
                            <span class="align-center body-2 block">Arrow Right</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-up" title="Arrow up" role="presetation"></span>
                            <span class="align-center body-2 block">Arrow Up</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-up-positive" title="Arrow up positive" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Arrow Up Positive</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-down" title="Arrow down" role="presetation"></span>
                            <span class="align-center body-2 block">Arrow Down</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium arrow-down-negative" title="Arrow down negative" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Arrow Down Negative</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium bar-graph" title="Bar graph" role="presetation"></span>
                            <span class="align-center body-2 block">Bar Graph</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium bill" title="Bill" role="presetation"></span>
                            <span class="align-center body-2 block">Bill</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium book" title="Book" role="presetation"></span>
                            <span class="align-center body-2 block">Book</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium business" title="Business" role="presetation"></span>
                            <span class="align-center body-2 block">Business</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium calculator" title="Calculator" role="presetation"></span>
                            <span class="align-center body-2 block">Calculator</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium calendar" title="Calendar" role="presetation"></span>
                            <span class="align-center body-2 block">Calendar</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium camera" title="Camera" role="presetation"></span>
                            <span class="align-center body-2 block">Camera</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium card" title="Card" role="presetation"></span>
                            <span class="align-center body-2 block">Card</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium car" title="Car" role="presetation"></span>
                            <span class="align-center body-2 block">Car</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium celebration" title="Celebration" role="presetation"></span>
                            <span class="align-center body-2 block">Celebration</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium checkmark" title="Checkmark" role="presetation"></span>
                            <span class="align-center body-2 block">Checkmark</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium chevron-down" title="Chevron down" role="presetation"></span>
                            <span class="align-center body-2 block">Chevron Down</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium chevron-up" title="Chevron up" role="presetation"></span>
                            <span class="align-center body-2 block">Chevron Up</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium chevron-left" title="Chevron left" role="presetation"></span>
                            <span class="align-center body-2 block">Chevron Left</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium chevron-right" title="Chevron right" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Chevron Right</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium close" title="Close" role="presetation"></span>
                            <span class="align-center body-2 block">Close</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium collapse" title="Collapse" role="presetation"></span>
                            <span class="align-center body-2 block">Collapse</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium contact" title="Contact" role="presetation"></span>
                            <span class="align-center body-2 block">Contact</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium controls" title="Controls" role="presetation"></span>
                            <span class="align-center body-2 block">Controls</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium copy" title="Copy" role="presetation"></span>
                            <span class="align-center body-2 block">Copy</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium document" title="Document" role="presetation"></span>
                            <span class="align-center body-2 block">Document</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium document-download" title="Document download" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Document Download</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium download" title="Download" role="presetation"></span>
                            <span class="align-center body-2 block">Download</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium edit" title="Edit" role="presetation"></span>
                            <span class="align-center body-2 block">Edit</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium education" title="Education" role="presetation"></span>
                            <span class="align-center body-2 block">Education</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-add" title="Enclosed add" role="presetation"></span>
                            <span class="align-center body-2 block">Enclosed Add</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-check" title="Enclosed check" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Enclosed Check</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-close" title="Enclosed close" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Enclosed Close</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-help" title="Enclosed help" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Enclosed Help</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-minus" title="Enclosed minus" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Enclosed Minus</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium enclosed-add" title="Enclosed add" role="presetation"></span>
                            <span class="align-center body-2 block">Enclosed More</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium external-link" title="External link" role="presetation">
                            </span>
                            <span class="align-center body-2 block">External Link</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium exit" title="Exit" role="presetation"></span>
                            <span class="align-center body-2 block">Exit</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium expand" title="Expand" role="presetation"></span>
                            <span class="align-center body-2 block">Expand</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium globe" title="Globe" role="presetation"></span>
                            <span class="align-center body-2 block">Globe</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium information" title="Information" role="presetation"></span>
                            <span class="align-center body-2 block">Information</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium insurance" title="Insurance" role="presetation"></span>
                            <span class="align-center body-2 block">Infsurance</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium lightbulb" title="Lightbulb" role="presetation"></span>
                            <span class="align-center body-2 block">Lightbulb</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium loading" title="Loading" role="presetation"></span>
                            <span class="align-center body-2 block">Loading</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium location" title="Location" role="presetation"></span>
                            <span class="align-center body-2 block">Location</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium lock" title="Lock" role="presetation"></span>
                            <span class="align-center body-2 block">Lock</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium mail" title="Mail" role="presetation"></span>
                            <span class="align-center body-2 block">Mail</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium maintenance" title="Maintenance" role="presetation"></span>
                            <span class="align-center body-2 block">Maintenance</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium medical" title="Medical" role="presetation"></span>
                            <span class="align-center body-2 block">Medical</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium microphone" title="Microphone" role="presetation"></span>
                            <span class="align-center body-2 block">Microphone</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium mobile-phone" title="Mobile phone" role="presetation"></span>
                            <span class="align-center body-2 block">Mobile Phone</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium money-bag" title="Money bag" role="presetation"></span>
                            <span class="align-center body-2 block">Money Bag</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium money" title="Money" role="presetation"></span>
                            <span class="align-center body-2 block">Money</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium more-horizontal" title="More horizontal" role="presetation">
                            </span>
                            <span class="align-center body-2 block">More Horizontal</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium more-vertical" title="More vertical" role="presetation">
                            </span>
                            <span class="align-center body-2 block">More Vertical</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium part-time" title="Part time" role="presetation"></span>
                            <span class="align-center body-2 block">Part Time</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium percentage" title="Percentage" role="presetation"></span>
                            <span class="align-center body-2 block">Percentage</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium phone" title="Phone" role="presetation"></span>
                            <span class="align-center body-2 block">Phone</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium pie-chart" title="Pie chart" role="presetation"></span>
                            <span class="align-center body-2 block">Pie Chart</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium profile" title="Profile" role="presetation"></span>
                            <span class="align-center body-2 block">Profile</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium reload" title="Reload" role="presetation"></span>
                            <span class="align-center body-2 block">Reload</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium rewards" title="Rewards" role="presetation"></span>
                            <span class="align-center body-2 block">Rewards</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium search" title="Search" role="presetation"></span>
                            <span class="align-center body-2 block">Search</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium send-plane" title="Send plane" role="presetation"></span>
                            <span class="align-center body-2 block">Send Plane</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium settings" title="Settings" role="presetation"></span>
                            <span class="align-center body-2 block">Settings</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium social-messenger" title="Social messenger" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Messenger</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium social-twitter" title="Social twitter" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Twitter</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium spouse" title="Spouse" role="presetation"></span>
                            <span class="align-center body-2 block">Spouse</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium start-date" title="Start date" role="presetation"></span>
                            <span class="align-center body-2 block">Start Date</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium suitcase" title="Suitcase" role="presetation"></span>
                            <span class="align-center body-2 block">Suitcase</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium time" title="Time" role="presetation"></span>
                            <span class="align-center body-2 block">Time</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium transfer" title="Transfer" role="presetation"></span>
                            <span class="align-center body-2 block">Transfer</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium trash" title="Trash" role="presetation"></span>
                            <span class="align-center body-2 block">Trash</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium unlock" title="Unlock" role="presetation"></span>
                            <span class="align-center body-2 block">Unlock</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium upload" title="Upload" role="presetation"></span>
                            <span class="align-center body-2 block">Upload</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium wallet" title="Wallet" role="presetation"></span>
                            <span class="align-center body-2 block">Waller</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium info-blue" title="Info blue" role="presetation"></span>
                            <span class="align-center body-2 block">Announcement</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium error-red" title="Error red" role="presetation"></span>
                            <span class="align-center body-2 block">Error</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium success-green" title="Success green" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Success</span>
                        </div>
                        <div class="pb-2u grid col-10 md-col-25 sm-col-50">
                            <span class="center-self block mb-1u icon medium warning-yellow" title="Warning yellow" role="presetation">
                            </span>
                            <span class="align-center body-2 block">Warning</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../../js/core.js"></script>

</body>

</html>