<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Links</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="pb-1u grid col-100">
            <h1 class="display-2 light">Links</h1>
        </div>
        <div class="pb-3u row">
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Link</h2>
                </div>
                <a href="#" class="link">LINK</a>
            </div>
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Link with Icon</h2>
                </div>
                <a href="#" class="link"><span class="icon medium checkmark blue"></span>LINK WITH CHECKMARK ICON</a>
            </div>
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Paragraph Link</h2>
                </div>
                <p class="body-2"> Drink the Kool-aid vertical integration, for can we align on lunch orders.
                    <a href="#" class="p-link">Link in a paragraph</a> Sea change overcome key issues to meet key milestones.</p>


            </div>
        </div>
        <div class="pb-3u row">
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Primary Button coded as <code>&lt;a&gt;</code></h2>
                </div>
                <a href="#" class="button primary">Button</a>
                <a href="#" class="button primary"><span class="icon checkmark medium white"></span>Button</a>
            </div>
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Secondary Button coded as <code>&lt;a&gt;</code></h2>
                </div>
                <a href="#" class="button secondary">Button</a>
                <a href="#" class="button secondary"><span class="icon lock medium"></span>Button</a>
            </div>
            <div class="grid col-33 sm-col-100">
                <div class="pt-1u pb-1u row">
                    <h2 class="sub-heading bold">Tertiary Button coded as <code>&lt;a&gt;</code></h2>
                </div>
                <a href="#" class="button tertiary"><span>Button</span></a>
                <a href="#" class="button tertiary"><span class="icon download medium"></span><span>Button</span></a>
            </div>
        </div>
        <div class="grid col-33 sm-col-100">
            <div class="pt-1u pb-1u row">
                <h2 class="sub-heading bold">Small Buttons coded as <code>&lt;a&gt;</code></h2>
            </div>
            <a href="#" class="button primary small">Button</a>
            <a href="#" class="button secondary small">Button</a>
            <a href="#" class="button tertiary small"><span>Button</span></a>
        </div>
        <div class="grid col-33 sm-col-100">
            <div class="pt-1u pb-1u row">
                <h2 class="sub-heading bold">Micro Buttons coded as <code>&lt;a&gt;</code></h2>
            </div>
            <a href="#" class="button primary micro">Micro Button</a>
            <a href="#" class="button secondary micro">Micro Button</a>
        </div>

    </div>
    <script type="module" src="../../js/core.js"></script>

</body>

</html>