<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lists</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="grid col-100">
                <h2 class="title-1 bold mt-2u mb-1u">Lists </h2>
            </div>
            <div class="grid col-50">
                <h2 class="sub-heading bold mt-2u mb-1u">Unordered Custom Circle List</h2>
                <ul class="ul bullet-list">
                    <li class="li">Pampas Grass</li>
                    <ul class="ul bullet-list-nested">
                        <li class="li">Sundale Silver</li>
                        <li class="li">Patagonia</li>
                        <li class="li">Rosea</li>
                    </ul>
                    <li class="li">Ranunculus</li>
                    <li class="li">Phragmites</li>
                    <li class="li">Cocoa Carnations</li>
                    <li class="li">Anemones</li>
                </ul>
            </div>
            <div class="grid col-50">
                <h2 class="sub-heading bold mt-2u mb-1u">Ordered List</h2>
                <ol class="ol">
                    <li class="li">Select your flowers.</li>
                    <ol class="ol nested">
                        <li class="li">Create a colour scheme.</li>
                        <li class="li">Choose from different varieties.</li>
                        <li class="li">Be sure to add greenery.</li>
                    </ol>
                    <li class="li">Create a colour scheme.</li>
                    <li class="li">Choose a vase.</li>
                    <li class="li">Cut the stems at an angle.</li>
                    <li class="li">Add the largest flowers first.</li>
                </ol>
            </div>
        </div>
    </div>
    <script type="module" src="../../js/core.js"></script>

</body>

</html>