<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Modals</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="grid col-100">
                <div class="grid col-50 sm-col-100">
                    <h1 class="title-1 bold">Modals</h1>
                    <button class="primary modal-trigger" aria-haspopup="true">Modal Trigger</button>
                    <div class="modal" aria-describedby="modal-title" id="modal-title">
                        <button class="icon-button medium modal-close">Close this modal<span class="icon close medium granite"></span></button>
                        <div class="modal-header">
                            <div class="grid col-100 modal-title">
                                <h2 class="sub-heading bold modal-title-text" id="title">Modal Title</h2>
                            </div>
                        </div>
                        <div class="body-scroll scrollbar">
                            <div class="modal-body grid col-100">
                                <p class="body-2">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                                    it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.</p>
                                <div class="center-self pt-2u grid col-25 sm-col-100">
                                    <button class="secondary">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="secondary modal-trigger" aria-haspopup="true">Modal Trigger</button>
                    <div class="modal" aria-describedby="modal-title-2" id="modal-title-2">
                        <button class="icon-button medium modal-close">Close this modal<span class="icon close medium granite"></span></button>
                        <div class="modal-header">
                            <div class="grid col-100 modal-title">
                                <h2 class="sub-heading bold modal-title-text" id="title">Modal Title 2</h2>
                            </div>
                        </div>
                        <div class="body-scroll scrollbar">
                            <div class="modal-body grid col-100">
                                <p class="body-2">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                                    it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.</p>
                                <p class="body-2">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                                    it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.</p>
                                <p class="body-2">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                                    it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.</p>
                                <p class="body-2">This is body-2. Drink the Kool-aid vertical integration, for can we align on lunch orders. We need to have a Come to Jesus meeting with Phil about his attitude one-sheet, for looks great, can we try it a different way make
                                    it look like digital and please advise soonest for we need to socialize the comms with the wider stakeholder community we have put the apim bol, temporarily so that we can later put the monitors on.
                                </p>
                                <div class="center-self pt-2u grid col-25 sm-col-100">
                                    <button class="primary">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bmo-overlay-dark"></div>
    <script type="module" src="../../js/core.js"></script>
</body>

</html>