<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Notifications</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div width="100" class="pb-1u grid col-100">
                <h1 class="display-2 light">Notifications</h1>
            </div>
        </div>
        <div class="alert-notification alert-success">
            <div class="bmo-container"><span class="notification-icon icon medium success-green"></span>
                <div class="alert-message-wrap">
                    <p>Success! This is a notification that indicating success.</p>
                    <div>
                        <p class="light">This is a notification body text</p>
                        <button class="primary micro">Button in Alert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-notification alert-info">
            <div class="bmo-container"><span class="notification-icon icon medium info-blue"></span>
                <div class="alert-message-wrap">
                    <p>Info! This is a notification that provides information.</p>
                    <div>
                        <p class="light">This is a notification body text</p>
                        <button class="primary micro">Button in Alert</button>
                    </div>
                </div>
                <button class="icon-button medium pull-right alert-close">close this notification<span class="icon close medium granite "></span></button>
            </div>
        </div>
        <div class="alert-notification alert-warning">
            <div class="bmo-container"><span class="notification-icon icon medium warning-yellow"></span>
                <div class="alert-message-wrap">
                    <p>Warning! This is a notification that provides warnings to the user.</p>
                    <div>
                        <p class="light">This is a notification body text</p>
                        <button class="primary micro">Button in Alert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-notification alert-danger" role="alert">
            <div class="bmo-container"><span class="notification-icon icon medium error-red"></span>
                <div class="alert-message-wrap">
                    <p>Danger! This the danger notification, it also may indicate errors.</p>
                    <div>
                        <p class="light">This is a notification body text</p>
                    </div>
                </div>
                <button class="icon-button medium pull-right alert-close">close this notification<span class="icon close medium granite"></span></button>
            </div>
        </div>
    </div>
    <script type="module" src="../../js/core.js"></script>

</body>

</html>