<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Profile avatars</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="pb-1u grid col-100">
                <h2 class="title-1 bold">Profile avatars</h2>
            </div>
        </div>
        <div class="row">
            <div class="grid col-100 m-1u">
                <span class="profile-image avatar a"></span>
                <span class="profile-image avatar b"></span>
                <span class="profile-image avatar c"></span>
                <span class="profile-image avatar d"></span>
                <span class="profile-image avatar e"></span>
                <span class="profile-image avatar f"></span>
                <span class="profile-image avatar g"></span>
                <span class="profile-image avatar h"></span>
                <span class="profile-image avatar i"></span>			
            </div>
            <div class="grid col-100 m-1u">
                <span class="profile-image avatar j"></span>
                <span class="profile-image avatar k"></span>
                <span class="profile-image avatar l"></span>
                <span class="profile-image avatar m"></span>
                <span class="profile-image avatar n"></span>
                <span class="profile-image avatar o"></span>
                <span class="profile-image avatar p"></span>
                <span class="profile-image avatar q"></span>
                <span class="profile-image avatar r"></span>
                
            </div>
            <div class="grid col-100 m-1u">
                <span class="profile-image avatar s"></span>
                <span class="profile-image avatar t"></span>
                <span class="profile-image avatar u"></span>
                <span class="profile-image avatar v"></span>
                <span class="profile-image avatar w"></span>
                <span class="profile-image avatar x"></span>
                <span class="profile-image avatar y"></span>
                <span class="profile-image avatar z"></span>
            </div>
        </div>
    </div>

</body>

</html>