<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Radios</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../styles/css/global.css">
    <link rel="stylesheet" href="../../fonts/heebo.css">
</head>

<body class="scrollbar">
    <div class="bmo-container">
        <div class="row">
            <div class="pb-1u grid col-100">
                <h2 class="title-1 bold">Radio Inputs</h2>
            </div>
        </div>
        <div class="row">
            <div class="grid col-25 sm-col-100">
                <div class="radio-group">
                    <fieldset class="input-wrap input-radio">
                        <legend class="legend">Choose an LOB</legend>
                        <input type="radio" class="radio" checked="checked" value="Retail" name="choose-an-lob" id="retail-2909">
                        <label class="radio-label" for="retail-2909">Retail</label>
                        <input type="radio" class="radio" value="Wealth" name="choose-an-lob" id="wealth-9887">
                        <label class="radio-label" for="wealth-9887">Wealth</label>
                        <input type="radio" class="radio" value="BBX" name="choose-an-lob" id="bbx-6229">
                        <label class="radio-label" for="bbx-6229">BBX</label>
                        <input type="radio" class="radio" value="Commercial" name="choose-an-lob" id="commercial-1274">
                        <label class="radio-label" for="commercial-1274">Commercial</label>
                        <span class="error-message" role="alert">This is an error message</span>
                    </fieldset>
                </div>
            </div>
            <div class="grid col-25 sm-col-100">
                <div class="radio-group">
                    <fieldset class="input-wrap input-radio">
                        <legend class="legend">Choose an account (Error)</legend>
                        <input type="radio" class="radio" value="Chequing" name="choose-an-account-(error)" id="chequing-5369">
                        <label class="radio-label" for="chequing-5369">Chequing</label>
                        <input type="radio" class="radio" value="Savings" name="choose-an-account-(error)" id="savings-5650">
                        <label class="radio-label" for="savings-5650">Savings</label>
                        <input type="radio" class="radio" value="Credit Card" name="choose-an-account-(error)" id="credit-card-2848">
                        <label class="radio-label" for="credit-card-2848">Credit Card</label>
                        <input type="radio" class="radio" value="RRSP" name="choose-an-account-(error)" id="rrsp-4026">
                        <label class="radio-label" for="rrsp-4026">RRSP</label>
                        <span class="error-message has-error" role="alert">Please make a choice</span></fieldset>
                </div>
            </div>
            <div class="grid col-25 sm-col-100">
                <div class="radio-group">
                    <fieldset class="input-wrap input-radio" disabled="">
                        <legend class="legend">Choose a Country (disabled)</legend>
                        <input type="radio" class="radio" value="U.S.A" name="choose-a-country-(disabled)" id="u.s.a-9751">
                        <label class="radio-label" for="u.s.a-9751">U.S.A</label>
                        <input type="radio" class="radio" value="Canada" name="choose-a-country-(disabled)" id="canada-9637">
                        <label class="radio-label" for="canada-9637">Canada</label>
                        <input type="radio" class="radio" value="Scotland" name="choose-a-country-(disabled)" id="scotland-6604">
                        <label class="radio-label" for="scotland-6604">Scotland</label>
                        <input type="radio" class="radio" value="Wales" name="choose-a-country-(disabled)" id="wales-3661">
                        <label class="radio-label" for="wales-3661">Wales</label>
                        <span class="error-message" role="alert">Please make a choice</span>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="pb-1u grid col-100">

                    <h2 class="title-1 bold">Box Radio Inputs
                    </h2>

                </div>
            </div>
            <div class="row">
                <div class="grid col-25 sm-col-100">
                    <div class="radio-group">
                        <fieldset class="input-wrap input-radio">
                            <legend class="legend">Do you like Stuff?</legend>
                            <input type="radio" class="box-radio" checked="checked" value="Yes" name="do-you-like-stuff?" id="yes-498">
                            <label class="box-radio-label" for="yes-498">Yes</label>
                            <input type="radio" class="box-radio" value="No" name="do-you-like-stuff?" id="no-2874">
                            <label class="box-radio-label" for="no-2874">No</label>
                            <input type="radio" class="box-radio" value="No Preference" name="do-you-like-stuff?" id="no-preference-2901">
                            <label class="box-radio-label" for="no-preference-2901">No Preference</label>
                            <span class="error-message" role="alert">This is an error message</span>
                        </fieldset>
                    </div>
                </div>
                <div class="grid col-25 sm-col-100">
                    <div class="radio-group">
                        <fieldset class="input-wrap input-radio">
                            <legend class="legend">Do you like other Stuff?</legend>
                            <input type="radio" class="box-radio" checked="checked" value="Yes" name="do-you-like-stuff2?" id="yes-497">
                            <label class="box-radio-label" for="yes-497">Yes</label>
                            <input type="radio" class="box-radio" value="No" name="do-you-like-stuff2?" id="no-2877">
                            <label class="box-radio-label" for="no-2877">No</label>
                            <input type="radio" class="box-radio" value="No Preference" name="do-you-like-stuff2?" id="no-preference-2907">
                            <label class="box-radio-label" for="no-preference-2907">No Preference</label>
                            <span class="error-message" role="alert">This is an error message</span>
                        </fieldset>
                    </div>
                </div>
                <div class="grid col-25 sm-col-100">
                    <div class="radio-group">
                        <fieldset class="input-wrap input-radio">
                            <legend class="legend">Choose a sex (error)</legend>
                            <input type="radio" class="box-radio" value="Male" name="choose-a-sex-(error)" id="male-3356">
                            <label class="box-radio-label" for="male-3356">Male</label>
                            <input type="radio" class="box-radio" value="Female" name="choose-a-sex-(error)" id="female-1204">
                            <label class="box-radio-label" for="female-1204">Female</label>
                            <input type="radio" class="box-radio" value="Other" name="choose-a-sex-(error)" id="other-9766">
                            <label class="box-radio-label" for="other-9766">Other</label>
                            <span class="error-message has-error" role="alert">Please make a choice</span>
                        </fieldset>
                    </div>
                </div>
                <div class="grid col-25 sm-col-100">
                    <div class="radio-group">
                        <fieldset class="input-wrap input-radio" disabled="">
                            <legend class="legend">Currency Select (disabled)</legend>
                            <input type="radio" class="box-radio" value="$ CAD" name="currency-select-(disabled)" id="$-cad-9994">
                            <label class="box-radio-label" for="$-cad-9994">$ CAD</label>
                            <input type="radio" class="box-radio" value="$ USD" name="currency-select-(disabled)" id="$-usd-6158">
                            <label class="box-radio-label" for="$-usd-6158">$ USD</label>
                            <input type="radio" class="box-radio" value="$ AUS" name="currency-select-(disabled)" id="$-aus-9401">
                            <label class="box-radio-label" for="$-aus-9401">$ AUS</label>
                            <span class="error-message" role="alert">Please make a choice</span>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="bmo-overlay-light"></div>
            <script type="module" src="../../js/core.js"></script>

</body>

</html>