<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Tables stick left</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="../../styles/css/global.css">
      <link rel="stylesheet" href="../../fonts/heebo.css">
   </head>
   <body class="scrollbar">
      <div class="bmo-container">
         <div class="row">
            <div class="grid col-100">
               <div class="panel-content">
                  <div class="row pb-1u grid col-100">
                     <h1 class="display-2 light">Tables stick left plain HTML</h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="grid col-70">
                <div class="sticky-left-table-wrap scrollbar">
                        <table caption="Table Example" class="table sticky-left-table ">
                            <thead class="table-head">
                                <tr class="table-row">
                                    <th class="table-heading col-1 dead-zone" scope="col"></th>
                                    <th class="table-heading col-2" scope="col">Table Heading</th>
                                    <th class="table-heading col-3" scope="col">STH</th>
                                    <th class="table-heading col-4" scope="col">Heading</th>
                                    <th class="table-heading col-5" scope="col">Top</th>
                                    <th class="table-heading col-6" scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr class="table-row">
                                    <th class="table-heading">AYZ</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">167</td>
                                    <td class="table-data">24</td>
                                    <td class="table-data">02/01/2019</td>
                                </tr>
                                <tr class="table-row">
                                    <th class="table-heading">ABC</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">105</td>
                                    <td class="table-data">17</td>
                                    <td class="table-data">02/21/2016</td>
                                </tr>
                                <tr class="table-row">
                                    
                                    <th class="table-heading">XYZ</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">101</td>
                                    <td class="table-data">64</td>
                                    <td class="table-data">02/04/2019</td>
                                </tr>
                                <tr class="table-row">
                                    
                                    <th class="table-heading">LMON</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">167</td>
                                    <td class="table-data">24</td>
                                    <td class="table-data">09/01/2015</td>
                                </tr>
                                <tr class="table-row">
                                    
                                    <th class="table-heading">AZIZ</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">105</td>
                                    <td class="table-data">17</td>
                                    <td class="table-data">01/01/2017</td>
                                </tr>
                                <tr class="table-row">	
                                    <th class="table-heading">AYU</th>
                                    <td class="table-data">Table Data</td>
                                    <td class="table-data">Longer Table Data</td>
                                    <td class="table-data">101</td>
                                    <td class="table-data">64</td>
                                    <td class="table-data">012/12/2017</td>
                                </tr>
            
                            </tbody>	
            
                        </table>
                    </div>
         </div>
      </div>
   </body>
</html>