<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Tables</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="../../styles/css/global.css">
      <link rel="stylesheet" href="../../fonts/heebo.css">
   </head>
   <body class="scrollbar">
      <div class="bmo-container">
         <div class="row">
            <div class="grid col-100">
               <div class="panel-content">
                  <div class="row pb-1u grid col-100">
                     <h1 class="display-2 light">Tables plain HTML</h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="responsive-table-wrap scrollbar">
            <table caption="Table Example" class="table responsive-table ">
               <thead class="table-head">
                  <tr class="table-row">
                     <th class="table-heading col-1" scope="col">		
                     </th>
                     <th class="table-heading col-2" scope="col">Company Name</th>
                     <th class="table-heading col-3" scope="col">Table Heading</th>
                     <th class="table-heading col-4" scope="col">STH</th>
                     <th class="table-heading col-5" scope="col">Heading</th>
                     <th class="table-heading col-6" scope="col">Top</th>
                     <th class="table-heading col-7" scope="col">Date</th>
                  </tr>
               </thead>
               <tbody class="table-body">
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox">
                           <input type="checkbox" name="select-row1" class="select-row" id="select-row1" aria-label="Select This Row" checked>
                           <label for="select-row1"></label>							
                        </div>
                     </td>
                     <td class="table-data">BMO - Bank of Montreal</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">167</td>
                     <td class="table-data">24</td>
                     <td class="table-data">02/01/2019</td>
                  </tr>
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox">
                           <input type="checkbox" name="select-row2" class="select-row" id="select-row2" aria-label="Select This Row"  checked>
                           <label for="select-row2"></label>							
                        </div>
                     </td>
                     <td class="table-data">Singapore Symphony Orchestra</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">105</td>
                     <td class="table-data">17</td>
                     <td class="table-data">02/21/2016</td>
                  </tr>
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox">
                           <input type="checkbox" name="select-row3" class="select-row" id="select-row3" aria-label="Select This Row" checked>
                           <label for="select-row3"></label>							
                        </div>
                     </td>
                     <td class="table-data">Better Homes &amp; Gardens</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">101</td>
                     <td class="table-data">64</td>
                     <td class="table-data">02/04/2019</td>
                  </tr>
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox">
                           <input type="checkbox" name="select-row4" class="select-row" id="select-row4" aria-label="Select This Row" checked>
                           <label for="select-row4"></label>							
                        </div>
                     </td>
                     <td class="table-data">Edward Hopper House Museum &amp; Study Center</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">167</td>
                     <td class="table-data">24</td>
                     <td class="table-data">09/01/2015</td>
                  </tr>
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox ">
                           <input type="checkbox" name="select-row5" id="select-row5" aria-label="Select This Row"  checked>
                           <label for="select-row5" ></label>							
                        </div>
                     </td>
                     <td class="table-data">American Airlines</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">105</td>
                     <td class="table-data">17</td>
                     <td class="table-data">01/01/2017</td>
                  </tr>
                  <tr class="table-row">
                     <td class="table-data">
                        <div class="input-wrap input-checkbox ">
                           <input type="checkbox" name="select-row6" id="select-row6" aria-label="Select This Row"  checked>
                           <label for="select-row6" ></label>							
                        </div>
                     </td>
                     <td class="table-data">Tommy Hilfiger</td>
                     <td class="table-data">Table Data</td>
                     <td class="table-data">Longer Table Data</td>
                     <td class="table-data">101</td>
                     <td class="table-data">64</td>
                     <td class="table-data">12/12/2017</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </body>
</html>