.bmo-overlay-dark {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    &.active {
        display: block;
        z-index: var(--zindex-overlay);
    }
}

.bmo-overlay-light {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: none;
    &.active {
        display: block;
        z-index: var(--zindex-overlay);
    }
}