<nav class="navbar navbar-default" style="background-color: #0075BE;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >
        <!-- <img class="brand-logo" src="./assets/images/bmo-roundel-logo.svg" alt="A part of <span aria-hidden=&quot;true&quot;>BMO</span><span class=&quot;off-screen-element&quot;>B M O</span> financial group"> -->
        </a>
      </div>
      <ul class="nav navbar-nav">
      <li><img src="assets/images/logo.png" class="img-rounded" alt="BMO Logo"> </li>
        <li class="active"><a href="home"style="color: black;">Reservation</a></li>
        <li><a href="floor-plan"style="color: white;">Floor Plan</a></li>
        <!-- TODO: This might change or is not needed?? -->
        <!-- <li><a href="new-desk-registration"style="color: white;">New Desk Registration</a></li> -->
        <!-- <li class="active" ><a href="#"style="color: white;">New Desk Registration</a></li>       -->
      </ul>
    </div>
</nav>

<div class="container">
    <h2>Reservation</h2>
    <form action="/action_page.php">
      <div class="input-group">
       <label for="email">Office ID:</label>
        <input type="Office ID" class="form-control" id="email" placeholder="Enter Office ID" name="Office ID">
      </div> 
      <br>	
      <button type="submit" class="btn btn-default">Search</button>
      <button type="submit" class="btn btn-default">Visitor</button>
        
    </form>
</div>